<div class="row-fluid">
  <h1>Politique d'accessibilité</h1>

  <p>
    Ce site a été pensé pour tenter d'être accessible à tous et de manière égale. Si vous rencontrez un problème, n'hésitez pas à <a href="/contact">me contacter</a>, je ferai mon possible pour le résoudre.
  </p>
  <h2>Liste des raccourcis clavier (accesskey)</h2>
  <p>
    Les raccourcis clavier proposés sur les liens principaux sont les suivants :
  </p>
  <ul>
    <li>Aller sur la page d'accueil : "1"</li>
    <li>Aller sur le profil : "2"</li>
    <li>Liste des créations : "3"</li>
    <li>Formulaire contact : "4"</li>
    <li>Actualités : "5"</li>
    <li>Liste des raccourcis clavier : "0"</li>
    <li>Accéder au fichier XML (flux RSS): "6"</li>
    <li>Conditions de license : "7"</li>
  </ul>
  <h2>Activer les accesskeys</h2>
  <p>
    Suivant votre navigateur, la procédure varie :<br />
    Pour taper les chiffres des accesskeys, il est parfois préférable d'utiliser les touches en haut du clavier et non celles du pavé numérique.
  </p>
  <ul>
    <li>Mozilla, Netscape, Firefox, Chrome sur Windows : Appuyez simultanément sur la touche Shift et Alt, ainsi que sur une des touches accesskey du clavier (pas le pavé numérique). Vous vous rendrez directement à l'endroit voulu.</li>
    <li><em>Note : sur un clavier de type "QWERTY" ou "QWERTZ" (allemand), la touche Shift est inutile pour déclencher l'accesskey.</em></li>
    <li>Internet Explorer 6 sur Windows : Appuyez simultanément sur la touche Alt et sur une des touches accesskey du clavier (pas le pavé numérique) et ensuite appuyez sur la touche Entrée pour vous rendre à l'endroit voulu.</li>
    <li>Opera 7 sur Windows, Macintosh et Linux : Esc + Shift et accesskey</li>
    <li>MSIE sur Macintosh : Ctrl et accesskey, puis Entrée</li>
    <li>Safari 1.2 sur Macintosh : Ctrl et accesskey</li>
    <li>Mozilla et Netscape sur Macintosh : Ctrl et accesskey</li>
    <li>Galeon, Mozilla et FireFox sur Linux : Alt et accesskey</li>
    <li>Konqueror 3.3+ : Ctrl, puis accesskey (successivement)</li>
    <li>Netscape 4, Camino, Galeon, Konqueror avant la version 3.3.0, Omniweb, Safari avant la version 1.2, Opera Windows/Linux avant la version 7, ne supportent pas les accesskeys.</li>
  </ul>
</div>

<p><%= link_to "Retourner à l'accueil", root_path %></p>