<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <%= stylesheet_link_tag "application", "bootstrap.min", "admin", :media => "all" %>
</head>
<body>

<% if not flash.empty? %>
  <% flash.each do |name, msg| %><%# key == {:info|:notice, :success, :warning|:alert, :error} %>
    <%= content_tag :div, :class => "alert alert-#{name}" do %>
      <a class="close" data-dismiss="alert">&times;</a>
      <%= msg %>
    <% end %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
